body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.viewport {
  position: absolute;
  top: 50px;
  right: 50px;
  left: 50%;
  height: 400px;
}

.border {
  position: absolute;
  border: 2px solid green;
  z-index: 2;
}

.b1 {
  top: 50px;
  right: 50px;
  left: 50%;
  height: 0;
}

.b2 {
  top: 450px;
  right: 50px;
  left: 50%;
  height: 0;
}

.b3 {
  top: 50px;
  left: 50%;
  height: 400px;
}

.b4 {
  top: 50px;
  right: 50px;
  height: 400px;
}

.explanation{
  position: absolute;
  top: 500px;
  left: 50px;
  right: 50px;
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: auto;
  z-index: 2;
}
